In [40]:
import pandas as pd

In [41]:
stats = pd.read_csv("player_mvp_stats.csv")

In [42]:
stats

,Unnamed: 0,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,...,0,0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
1,1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,...,0,0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
2,2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,...,0,0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
3,3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,...,0,0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
4,4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,...,0,0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15231,15231,Spencer Hawes,PF,28,MIL,54,1,14.8,2.5,5.1,...,0,0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
15232,15232,Steve Novak,PF,33,MIL,8,0,2.8,0.3,0.9,...,0,0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
15233,15233,Terrence Jones,PF,25,MIL,54,12,23.5,4.3,9.1,...,0,0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
15234,15234,Thon Maker,C,19,MIL,57,34,9.9,1.5,3.2,...,0,0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
15235,15235,Tony Snell,SG,25,MIL,80,80,29.2,3.1,6.8,...,0,0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45

In [43]:
del stats["Unnamed: 0"]

In [44]:
pd.isnull(stats).sum()

Player        0
Pos           0
Age           0
Tm            0
G             0
GS            0
MP            0
FG            0
FGA           0
FG%          61
3P            0
3PA           0
3P%        2102
2P            0
2PA           0
2P%         105
eFG%         61
FT            0
FTA           0
FT%         545
ORB           0
DRB           0
TRB           0
AST           0
STL           0
BLK           0
TOV           0
PF            0
PTS           0
Year          0
Pts Won       0
Pts Max       0
Share         0
Team          0
W             0
L             0
W/L%          0
GB            0
PS/G          0
PA/G          0
SRS           0
dtype: int64

In [45]:
stats[pd.isnull(stats["FT%"])][["Player", "FTA"]]

                Player  FTA
77          John Coker  0.0
92        Jason Sasser  0.0
103    Adrian Caldwell  0.0
119       Bruno Å undov  0.0
158     Jamal Robinson  0.0
...                ...  ...
15115     Trevor Keels  0.0
15123      Luke Zeller  0.0
15176      Myron Brown  0.0
15198      Malcolm Lee  0.0
15232      Steve Novak  0.0

[545 rows x 2 columns]

In [46]:
stats =  stats.fillna(0)

In [47]:
stats.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
       'Pts Won', 'Pts Max', 'Share', 'Team', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS'],
      dtype='object')

In [48]:
predictors = ['Age', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS']

In [49]:
train = stats[stats["Year"] < 2021]

In [50]:
test = stats[stats["Year"] == 2021]

In [60]:
train[predictors]

,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,...,PF,PTS,Year,W,L,W/L%,GB,PS/G,PA/G,SRS
0,27,82,21,26.4,3.1,6.6,0.476,0.1,0.7,0.200,...,1.4,9.1,1991,58,24,0.707,5.0,106.3,99.6,6.73
1,29,82,82,32.1,6.1,12.8,0.477,0.9,2.7,0.324,...,1.8,14.5,1991,58,24,0.707,5.0,106.3,99.6,6.73
2,22,52,0,7.3,1.1,2.4,0.455,0.0,0.0,0.000,...,1.4,2.8,1991,58,24,0.707,5.0,106.3,99.6,6.73
3,25,26,0,4.2,0.7,1.9,0.340,0.0,0.0,0.000,...,0.9,1.8,1991,58,24,0.707,5.0,106.3,99.6,6.73
4,29,78,74,38.6,9.2,18.7,0.492,0.3,1.2,0.289,...,1.5,21.4,1991,58,24,0.707,5.0,106.3,99.6,6.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15231,28,54,1,14.8,2.5,5.1,0.484,0.5,1.5,0.309,...,1.4,6.2,2017,42,40,0.512,9.0,103.6,103.8,-0.45
15232,33,8,0,2.8,0.3,0.9,0.286,0.1,0.8,0.167,...,0.1,0.6,2017,42,40,0.512,9.0,103.6,103.8,-0.45
15233,25,54,12,23.5,4.3,9.1,0.470,0.4,1.4,0.253,...,1.2,10.8,2017,42,40,0.512,9.0,103.6,103.8,-0.45
15234,19,57,34,9.9,1.5,3.2,0.459,0.5,1.3,0.378,...,1.5,4.0,2017,42,40,0.512,9.0,103.6,103.8,-0.45
15235,25,80,80,29.2,3.1,6.8,0.455,1.8,4.4,0.406,...,1.6,8.5,2017,42,40,0.512,9.0,103.6,103.8,-0.45

In [51]:
from sklearn.linear_model import Ridge

reg = Ridge(alpha=.1)

In [52]:
reg.fit(train[predictors], train["Share"])

Ridge(alpha=0.1)

In [53]:
predictions = reg.predict(test[predictors])

In [54]:
predictions =  pd.DataFrame(predictions, columns=["predictions"], index=test.index)

In [55]:
predictions

       predictions
687            0.0
688            0.0
689            0.0
690            0.0
691            0.0
...            ...
15027          0.0
15028          0.0
15029          0.0
15030          0.0
15031          0.0

[540 rows x 1 columns]

In [56]:
combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)

In [57]:
combination

                       Player  Share  predictions
687              Aaron Gordon      0          0.0
688             Austin Rivers      0          0.0
689                   Bol Bol      0          0.0
690          Facundo Campazzo      0          0.0
691          Greg Whittington      0          0.0
...                       ...    ...          ...
15027             Patty Mills      0          0.0
15028  Quinndary Weatherspoon      0          0.0
15029                Rudy Gay      0          0.0
15030               Tre Jones      0          0.0
15031              Trey Lyles      0          0.0

[540 rows x 3 columns]

In [58]:
combination.sort_values("Share", ascending=False).head(10)

                       Player  Share  predictions
687              Aaron Gordon      0          0.0
10710          Justin Jackson      0          0.0
11506          Gordon Hayward      0          0.0
11505         Devonte' Graham      0          0.0
11504             Cody Zeller      0          0.0
11503             Cody Martin      0          0.0
11502            Caleb Martin      0          0.0
11501          Brad Wanamaker      0          0.0
11500         Bismack Biyombo      0          0.0
10717  Thanasis Antetokounmpo      0          0.0